/* Common Styles  */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Header area Styles */
nav {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: end;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #111010;
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 90px;
    padding: 40px 200px 0 200px;
    margin-bottom: 150px;
}

.title-name {
    color: #272727;
    font-size: 40px;
}

.about {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0;
}

.common-btn {
    background: #E55473;
    color: #FFF;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
}

.flower-pic img {
    width: 450px;
}

/* Main area styles */
.flowers-feature {
    padding: 0 150px;
}

.feature-section {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 100px;
}

.flower-tree {
    background-color: #A7216226;
    border-radius: 49% 49% 0 0;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.support-area {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 100px;
    padding: 50px;
}

.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 10px;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.hotdeal-title,
.insta-title {
    color: #272727;
    font-size: 30px;
}

.highlight-name {
    color: #E55473;
    ;
}

.instragram-area {
    padding: 0 150px;
    margin-bottom: 100px;
    text-align: center;
}

.insta-shoff {
    display: flex;
    gap: 24px;
}

.insta-shoff img {
    width: 100%;
}

.latest-deal {
    text-align: center;
}

#email {
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    width: 500px;
    height: 50px;
}

.latestdeal-area {
    background-image: url('../Flower-Asset/Rectangle 9.png');
    background-size: cover;
    padding: 100px;
    margin: 0 150px;
    margin-bottom: 100px;
}

.our-showroom {
    display: flex;
    gap: 24px;
}

.our-showroom img {
    width: 100%;
}

.our-showroom a {
    text-decoration: none;
    color: tomato;
}

/* Footer styles */
footer {
    background-color: #111010;
    padding: 100px;
    text-align: center;
    color: white;
}

footer p {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}